@media (max-width: 550px) {
  .header__button_type_register {
    background-image: url(../../../../images/register.png);
  }
}

@media (max-width: 380px) {
  .header__button_type_register {
    width: 25px;
    height: 25px;
  }
}