.card__delete {
  width: 18px;
  height: 19px;
  margin: 0;
  padding: 0;
  display: none;
  border: none;
  background: none;
  background-image: url(../../../images/urn.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .card__delete {
    width: 13px;
    height: 15px;
    top: 9px;
    right: 9px;
  }
}

@media (max-width: 767px) {
  .card__delete {
    width: 8px;
    height: 9px;
    top: 4px;
    right: 4px;
  }
}

@media (max-width: 550px) {
  .card__delete {
    width: 4px;
    height: 5px;
    top: 2px;
    right: 2px;
  }
}
