.popup__close-button {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  background: none;
  background-position: center;
  background-image: url(../../../images/closeBlack.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity 0.2s linear;
  background-color: antiquewhite;
  border-radius: 50%;
}

.popup__close-button:hover {
  /*opacity: 0.6;*/
  cursor: pointer;
  background-color: #696355;
  background-image: url(../../../images/closeWhite.svg);
}

@media (max-width: 767px) {
  .popup__close-button {
    width: 22px;
    height: 22px;
    top: -25px;
    right: -25px;
    background-size: 11px 11px;
  }
}


@media (max-width: 470px) {
  .popup__close-button {
    width: 16px;
    height: 16px;
    top: -25px;
    right: -6px;
    background-size: 8px 8px;
  }
}

@media (max-width: 380px) {
  .popup__close-button {
    width: 14px;
    height: 14px;
    top: -20px;
    right: -3px;
    background-size: 7px 7px;
  }
}
