.menu__items {
  width: 300px;
  height: 100vh;
  margin: 0;
  padding: 30px;
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  font-weight: 400;
  line-height: 1.06;
  font-size: 20px;
  background-color: rgb(42, 44, 47);
  right: -300px;
  position: absolute;
  transition: right 0.3s;
}

@media (max-width: 600px) {
  .menu__items {
    width: 250px;
    right: -250px;
    font-size: 16px;    
  }
}

@media (max-width: 470px) {
  .menu__items {
    width: 200px;
    right: -200px;
    font-size: 12px;    
  }
}

@media (max-width: 380px) {
  .menu__items {
    width: 160px;
    right: -160px;
    font-size: 9px;    
  }
}
