.card__content_female {
  border: 2px solid #ff9bfa;
}

@media (max-width: 470px) {
  .card__content_female {
    border: 1px solid  #ff9bfa;
  }
}

@media (max-width: 330px) {
  .card__content_female {
    border: 1px solid  #ff9bfa;
  }
}