@mixin card($width, $height, $margin, $border, $radius) {
  width: $width;
  height: $height;
  margin: $margin;  
  border: $border solid green;
  border-radius: $radius;
}

@mixin image($height, $radius) {
  height: $height;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin title($height, $padding, $fontsize, $radius) {
  height: $height;
  padding: $padding;
  font-size: $fontsize;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

$male: #92d7ff;
$female: #ff9bfa;

.card {
  position: relative;
  transition: 0.4s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 10px;
  }

  &__content {
    @include card(80px, 135px, 5px, 2px, 8px);
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    background-color: transparent;

    @media (max-width: 1100px) {
      & {
        @include card(60px, 101.25px, 4px, 2px, 8px);
      }
    }
    
    @media (max-width: 767px) {
      & {
        @include card(40px, 67.5px, 3px, 2px, 6px);
      }
    }
    
    @media (max-width: 470px) {
      & {
        @include card(35px, 58px, 1px, 1px, 5px);
      }
    }
    
    @media (max-width: 380px) {
      & {
        @include card(30px, 50px, 1px, 1px, 4px);
      }
    }
    
    @media (max-width: 330px) {
      & {
        @include card(27px, 45px, 1px, 1px, 4px);
      }
    }

    &_male {
      border: 1px solid  $male;
    }
        
    &_female {
      border: 1px solid $female;
    }


  }

  &__image {
    @include image(80px, 6px);
    position: relative;
    box-sizing: border-box;
    object-fit: cover;
    pointer-events: none;

    @media (max-width: 1100px) {
      & {
        @include image(60px, 6px);
      }
    }
    
    @media (max-width: 767px) {
      & {
        @include image(40px, 4px);
      }
    }
    
    @media (max-width: 470px) {
      & {
        @include image(35px, 3px);
      }
    }
    
    @media (max-width: 380px) {
      & {
        @include image(28px, 3px);
      }
    }
    
    @media (max-width: 330px) {
      & {
        @include image(25px, 3px);
      }
    }
  }

  &__title {
    @include title(55px, 5px 5px, 12px, 6px);
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    background-color: #f80909;
  
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;

    @media (max-width: 1100px) {
      & {
        @include title(41.25px, 2px 2px, 9px, 4px);
      }
    }
    
    @media (max-width: 767px) {
      & {
        @include title(27.5px, 2px 2px, 6px, 4px);
      }
    }
    
    @media (max-width: 470px) {
      & {
        @include title(22px, 2px 1px, 5px, 2px);
      }
    }
    
    @media (max-width: 380px) {
      & {
        @include title(20px, 3px 1px, 4px, 2px);
      }
    }
    
    @media (max-width: 330px) {
      & {
        @include title(18px, 2px 1px, 4px, 2px);
      }
    }

    &_male {
      background-color: $male;
    }
    
    &_female {
      background-color: $female;
    }

  }

  &__delete {
    width: 18px;
    height: 19px;
    margin: 0;
    padding: 0;
    display: flex;
    border: none;
    background: none;
    background-image: url(../images/urn.svg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 0.2s linear;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.7;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    @media (max-width: 1100px) {
      & {
        width: 13px;
        height: 15px;
        top: 9px;
        right: 9px;
      }
    }

    @media (max-width: 767px) {
      & {
        display: none;
      }
    }
   

  }

}