@mixin type($width, $padding, $gap, $shadow) {
  width: $width;
  padding: $padding;
  gap: $gap;
  box-shadow: 0 0 0 $shadow antiquewhite;
}

.card-scale {
  @include type(800px, 15px, 20px, 15px);
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: antiquewhite;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  border-radius: 10px;
  border: 2px dashed #80B040;

  @media (max-width: 1100px) {
    & {
      @include type(600px, 10px, 16px, 10px);
    }
  }
  
  @media (max-width: 767px) {
    & {
      @include type(400px, 10px, 12px, 7px);
    }
  }
  
  @media (max-width: 470px) {
    & {
      @include type(340px, 7px, 10px, 4px);
    }
  }
  
  @media (max-width: 380px) {
    & {
      @include type(280px, 7px, 6px, 2px);
    }
  }

  &__main {
    margin: 0;
    padding: 0;
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "image title"
      "image gender"
      "image birthday"
      "image place"
      "image about"
      "image .";

    @media (max-width: 1100px) {
      & {
        column-gap: 18px;    
      }
    }
      
    @media (max-width: 767px) {
      & {
        column-gap: 12px;
        row-gap: 3px;    
      }
    }

    @media (max-width: 470px) {
      & {
        grid-template-areas:
          "image title"
          "image gender"
          "image birthday"
          "image place"
          "image ."
          "about about";
        column-gap: 8px;
      }
    }
    
    @media (max-width: 380px) {
      & {
        column-gap: 6px;
        row-gap: 2px;
      }
    }
    
  }

  &__line-block {
    margin: 0;
    padding: 2px 0;
    display: flex;
  }

  &__line-block-text {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.06;
    letter-spacing: -1px;

    @media (max-width: 1100px) {
      & {
        font-size: 16px;
      }
    }
    
    @media (max-width: 767px) {
      & {
        font-size: 12px;
        letter-spacing: -0.5px;
      }
    }
    
    @media (max-width: 470px) {
      & {
        font-size: 12px;    
      }
    }
    
    @media (max-width: 380px) {
      & {
        font-size: 10px;
      }
    }


  }

  &__image {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    grid-area: image;

    @media (max-width: 1100px) {
      & {
        width: 210px;
        height: 280px;
      }
    }
    
    @media (max-width: 767px) {
      & {
        width: 150px;
        height: 200px;
      }
    }
    
    @media (max-width: 470px) {
      & {
        width: 120px;
        height: 160px;
      }
    }
    
    @media (max-width: 380px) {
      & {
        width: 90px;
        height: 120px;
      }
    }

  }

  &__title {
    text-align: start;
    margin: 0;
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 30px;
    line-height: 1.06;
    grid-area: title;

    @media (max-width: 1100px) {
      & {
        font-size: 24px;
        padding-bottom: 12px;
      }
    }
    
    @media (max-width: 1100px) {
      & {
        font-size: 18px;
        padding-bottom: 6px;
      }
    }
    
    @media (max-width: 470px) {
      & {
        font-size: 18px;
        padding-bottom: 10px;
      }
    }
    
    @media (max-width: 380px) {
      & {
        font-size: 16px;
        padding-bottom: 6px;
      }
    }
  }

  &__gender {
    margin: 0;
    padding: 0;
    font-weight: 400;
    grid-area: gender;
  }
  
  &__birthday {
    margin: 0;
    padding: 0;
    font-weight: 400;
    grid-area: birthday;
  }

  &__place {
    margin: 0;
    padding: 0;
    font-weight: 400;
    grid-area: place;
  }

  &__about {
    min-height: 200px;
    max-height: 300px;
    margin-top: 20px;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.06;
    word-wrap: break-word;
    overflow: auto;
    grid-area: about;

    @media (max-width: 1100px) {
      & {
        margin-top: 12;
        min-height: 100px;
        max-height: 150px;
        font-size: 14px;
      }
    }
    
    @media (max-width: 767px) {
      & {
        margin-top: 8px;
        min-height: 100px;
        max-height: 200px;
        font-size: 10px;
      }
    }
    
    @media (max-width: 470px) {
      & {
        padding: 0 5px;
        margin-top: 6px;
        font-size: 13px;
      }
    }
    
    @media (max-width: 380px) {
      & {
        margin-top: 4px;
        font-size: 11px;
      }
    }

  }
  
}