.card-scale {
  width: 800px;
  margin: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  background-color: antiquewhite;
  /*background-image: url(../../images/card_background.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  border-radius: 10px;
  border: 2px dashed grey;
  box-shadow: 0 0 0 15px antiquewhite;
}
