.card-scale {
  width: 800px;
  margin: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  background-color: antiquewhite;
  /*background-image: url(../../images/card_background.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  border-radius: 10px;
  border: 2px dashed #80B040;
  box-shadow: 0 0 0 15px antiquewhite;
}

@media (max-width: 1100px) {
  .card-scale {
    width: 600px;
    padding: 10px;
    gap: 16px;
    box-shadow: 0 0 0 10px antiquewhite;
  }
}

@media (max-width: 767px) {
  .card-scale {
    width: 400px;
    padding: 7px;
    gap: 12px;
    box-shadow: 0 0 0 7px antiquewhite;
  }
}

@media (max-width: 470px) {
  .card-scale {
    width: 300px;
    padding: 4px;
    gap: 10px;
    box-shadow: 0 0 0 4px antiquewhite;
  }
}

@media (max-width: 380px) {
  .card-scale {
    width: 220px;
    padding: 2px;
    gap: 6px;
    box-shadow: 0 0 0 2px antiquewhite;
  }
}