.area {
  width: 80px;
  height: 135px;
  margin: 5px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F0E7D6;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3) inset;
  font-size: 25px;
  transition: 0.4s;
  color: grey;
}

@keyframes rotation {
  0% {transform: scale(1);}
  100% {transform: scale(1.1);}
}

.area:hover {
  cursor: pointer;
  /*font-size: 40px;*/
  transform: scale(1.07);
  background-color: #ddd5c4;
}

@media (max-width: 1100px) {
  .area {
    width: 60px;
    height: 101.25px;
    margin: 4px;
    border-radius: 8px;
  }
}

@media (max-width: 767px) {
  .area {
    width: 40px;
    height: 67.5px;
    margin: 3px;
    border-radius: 6px;
  }
}

@media (max-width: 550px) {
  .area {
    width: 25px;
    height: 42.1875px;
    margin: 1px;
    border-radius: 4px;
  }
}
