.form_type_tooltip {
  width: 400px;
  padding-top: 20px;
  box-sizing: border-box;
}

@media (max-width: 1100px) {
  .form_type_tooltip {
    width: 400px;
    gap: 16px;
  }
}

@media (max-width: 767px) {
  .form_type_tooltip {
    width: 400px;
    gap: 12px;
  }
}

@media (max-width: 470px) {
  .form_type_tooltip {
    width: 340px;
    gap: 10px;
  }
}

@media (max-width: 380px) {
  .form_type_tooltip {
    width: 280px;
    gap: 6px;
  }
}