.form__genderlabel {
  width: 100%;
  margin: 0;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.form__genderlabel:focus {
  outline: 0;
  outline-offset: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

@media (max-width: 767px) {
  .form__genderlabel {
    padding: 6px 0;
    font-size: 12px;
  }
}

@media (max-width: 470px) {
  .form__genderlabel {
    padding: 3px 0;
    font-size: 12px;
  }
}

@media (max-width: 380px) {
  .form__genderlabel {
    padding: 2px 0;
    font-size: 10px;
  }
}