.header {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(42, 44, 47);
  color: white;
  box-shadow: 0 6px 20px 0px rgba(0, 0, 0, 0.8);
  z-index: 1;
}