.header__button {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.06;
  text-transform: uppercase;
  text-decoration: none;
  justify-self: end;
}

.header__button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .header__button {
    width: 120px;
    height: 40px;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .header__button {
    width: 90px;
    height: 30px;
    font-size: 9px;
  }
}

@media (max-width: 550px) {
  .header__button {
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 0;
    color: transparent;
    width: 30px;
    height: 30px;
    font-size: 9px;
  }
}

@media (max-width: 550px) {
  .header__button:hover {
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    opacity: 0.7;
  }
}
